<footer class="content-footer">
    <div class="container">
        <p>Copyright &copy; 2019 ghostxbh All rights reserved <a target="_blank" href="http://admin.uzykj.com/">http://admin.uzykj.com</a></p>
    </div>
</footer>