<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li class="active">

            <a href="/">
                <i class="icon-home"></i>
                <span>首&ensp;&ensp;&ensp;&ensp;页</span>
            </a>
        </li>
        <li>
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-signal"></i>
                <span>列表管理</span>
                <i class="icon-chevron-down"></i>
                <ul class="active submenu">
                    <li><a href="/category">分类列表</a></li>
                    <li><a href="/type">类型列表</a></li>
                    <li><a href="/label">标签列表</a></li>
                    <li><a href="/link">友链列表</a></li>
<!--                    <li><a href="/remark">评论列表</a></li>-->
                </ul>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-picture"></i>
                <span>专栏管理</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="active submenu">
                <li><a href="/special/add">新增专栏</a></li>
                <li><a href="/special">专栏列表</a></li>
                <li><a href="/special/1">专栏详情</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-edit"></i>
                <span>文章管理</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="active submenu">
                <li><a href="/content/add">写文章</a></li>
                <li><a href="/content">文章列表</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="icon-th-large"></i>
                <span>资&ensp;&ensp;&ensp;&ensp;源</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-code-fork"></i>
                <span>其他管理</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->