/* all */
.content-footer {
    color: black;
    clear: both;
    padding: 24px 15px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: #ececec;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
}

/* page type */
#select_category {
    width: 100%;
}

.type-category {
    font-size: 16px;
    margin-left: 20%;
}

#type-category-list {
    height: 30px;
    width: 20%;
}

/* page link */
#select_status {
    width: 100%;
}

#link-remark {
    width: 97%;
    height: 10%;
}
